
body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 36, 138);
    text-align: center;
}

button{
    font-size: 1.1em;       
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
    margin: 5px;
    width: 200px; 
    text-align: center;
}
.btn-adicionar { 
    background-color: #ff94c6; 
}  
.btn-consultar { 
    background-color: #ff17b6; 
}  
.btn-listar    { 
    background-color: #ff38d4; 
} 
.btn-atualizar { 
    background-color: #ff00a2; 
}  
.btn-cadastrar { 
    background-color: #ff4081; 
}  
.btn-buscar {
    background-color: #ff4081; 
}

.btn-editar, .btn-excluir {
    background-color: antiquewhite;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: auto; 
}


.btn:hover {
    opacity: 0.85;
}


#formCadastro {
    display: block; 
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    width: 350px;
    text-align: left;
    background: #fff;
    margin: auto;
}

#formCadastro label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

#formCadastro input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
