body{
    background-color: antiquewhite;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 36, 138);
    text-align: center;
}

.btn-cadastrar {
    font-size: 1.2em;       
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    
}

.container{
    display: flex;
    justify-content: center; /* centraliza no meio da tela */
    gap: 40px; /* controla a distância entre as divs */
    margin: auto;
    
}

.btn-adicionar {
    font-size: 1.2em;      
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    
    
}

.btn-titulo:hover {
    background-color: #e73370;
}

.btn-editar{
    font-size: 1.2em;       
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-atualizar {
    font-size: 1.2em;       
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-excluir {
    font-size: 1.2em;       
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    
}



.btn-listar {
    font-size: 1.2em;       
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-atualizar {
    font-size: 1.2em;       
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-consultar {
    font-size: 1.2em;       
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}



#formCadastro {
      display: none; /* começa escondido */
      margin-top: 20px;
      padding: 15px;
      border: 1px solid #ff00bb;
      border-radius: 8px;
      width: auto;
      text-align: center;
}

.container-botoes {
    display: flex;
    gap: 20px; 
    justify-content: center;
    flex-direction: column;
    margin-top: 2px;
    align-items: center;
    
}

